body {
    padding-top: 50px !important;
    font-size: 1.3em;
}
.navbar-default {
    background: #e2e2e2;
    z-index: 100;
}
.navbar-default .navbar-nav>li>a {
  outline: none;
}
.nav>li>a:hover, .nav>li>a:focus {
  outline: none;
}
.dropdown-toggle:focus {
  outline: none;
}
 #googlemaps {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.navbar {
    border: none !important;
    min-height: 36px !important;
    margin-left: -10px;
    margin-bottom: 0px;
    box-shadow: 1px 0px 5px 0px grey;
}
.navbar-nav>li {
    float: left;
    height: 36px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.navbar-nav>li a {
    padding: 6px 10px !important;
}
#menu .active {
    background: white !important;
    box-shadow: inset 0px 0px 3px 1px rgba(153, 153, 153, 0.65);
}
.navbar-nav img {
    height:  1.6em;
}
/*.navbar-right.big > li:before {
    content: url(http://logistic.carswar.com/template/default/img/shape.png);
    position: absolute;
}*/
#navbar_fixed {
    top: 30px;
}
.navbar-form {
   /* display: none;*/
        margin-top: 4px;
   
    margin-bottom: 0px;
}
.navbar-form  .form-control {
        background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: 180px;
    background-size: 14px;
    padding-right: 20px;
    height: 26px;
    }
.container {
    width: 100%;
}
.navbar-brand {
        padding: 0px 10px 0 10px;
    margin: 0 !important;
        height: 20px;

}
.navbar-brand > img {
    display: block;
    height: 1.5em;
    margin-top: 5px;
}
.text-muted {
    display: inline;
}

#footer {
    background: #e2e2e2;
    padding: 5px 10px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 1px 0px 5px 0px grey;
}
#footer a {
    color: #7a7a7a;
    text-decoration: underline;
    margin-left: 10px;
}
#footer img {
    width: 2em;
}
#footer .col-md-9 {
   /* height: 32px;*/
    padding-top: 5px;

}
#footer .col-md-9 p {
    color: #000;
}
#footer .col-md-3 a {
      float: right;
}
#footer .col-md-3 p {
  float: right;
    margin-bottom: 0px;
    padding-top: 5px;
}
iframe {
    width: 100%;
    height: 700px;
}
.right_block {
    position: absolute;
    top: 30%;
}
.right_block a {
    font-size: 12px;
}
.show_hide_block {
   display: none;
}
.down_hide_icon, .up_show_icon {
  display: none;
}
/*.show_hide_block .active {
   display: block !important;
}*/
.active {
     display: block  ;
}
.header_block {
    background: #f7f7f7;
    padding-top: 10px;
    border-bottom-width: 10px;
    padding-bottom: 10px;
    position: relative;
    right: 0px;
    margin-left: 0px;
    min-height: 51px;
}
.col-md-8 .icons_cat {
  padding-left: 70px;
}
.col-md-7 .icons_cat {
  padding-left: 35px;
}
.icons img, .icons_cat img {
    width: 32px !important;
}
.icons img:first-child, .icons_cat img:first-child {
    margin-right: 10px;
}
.header_block .col-md-8 p {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 0px;
    
    display: inline;
}
.header_block .col-md-8  img {
    height: 26px;
    vertical-align: top;
    margin-top: 3px;
}

.tab_icons {
    background: rgba(221, 221, 221, 0.64);
    position: fixed;
    top: 41px;
    /*width: 252px;*/
    right: 0;
    padding-right: 5px; 
}
.tab_icons .show_sideblock {
  display: none;
} 
.tab_icons a{
     display: inline-block;
    padding: 6px;
    margin: 5px;
    /* border: 1px solid grey; */
    border-radius: 3px;
    width: 32px;
    height: 32px;
    margin-right: 0;
     
}
.tab_icons a img {
    height: 22px;
    /* text-align: center; */
    display: block;
    margin: auto;
}
.tab_icons .actived {
  background: rgba(221, 221, 221, 0.4);
    display: inline-block;
}
.tab_icons .active {
    box-shadow: inset 1px 1px 3px 0px rgba(0,0,0,0.75);
}
.col-md-1 {
    background: rgba(221, 221, 221, 0.64);
    position:  fixed;
    top: 35px;
    padding-bottom: 10px;
    width: 4.5em;
    box-shadow: 0px 0px 10px 3px rgba(119, 119, 119, 0.81);
    z-index: 1;
        height: 100%;
}
.col-md-1 .row {
    padding: 10px;
    padding-bottom: 0px;
}
.col-md-1 .row a{
  background-size: 100% 100%; 
  display: block; 
   width: 30px;
  height: 40px;
  margin: auto;
}
.col-md-1.pull-left>.row:first-child > a > img {
    height: 35px;

}
.col-md-1.pull-left>.row:first-child > a {
      width: 33px;
       
}
.col-md-1 .row .show_left_block {
  display: none;
}

#a1 {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_1_wb.png);
}
#a1:hover {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_1.png);
}
#a1.image {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_1.png) !important;
}
#a2 {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_2_wb.png);
}
#a2:hover {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_2.png);
}
#a2.image {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_2.png) !important;
}
#a3 {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_3_wb.png);
}
#a3:hover {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_3.png);
}
#a3.image {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_3.png) !important;
}
#a4 {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_4_wb.png);
}
#a4:hover {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_4.png);
}
#a4.image {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_4.png) !important;
}
#a5 {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_5_wb.png);
}
#a5:hover {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_5.png);
}
#a5.image {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_5.png) !important;
}
#a6 {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_6_wb.png);
}
#a6:hover {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_6.png);
}
#a6.image {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_6.png) !important;
}
#a7 {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_7_wb.png);
}
#a7:hover {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_7.png);
}
#a7.image {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_7.png) !important;
}
#a8 {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_8_wb.png);
}
#a8:hover {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_8.png);
}
#a8.image {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_8.png) !important;
}
#a9 {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_9_wb.png);
}
#a9:hover {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_9.png);
}
#a9.image {
  background-image: url(http://logistic.carswar.com/template/default/img/left_icon_9.png) !important;
}

.block {
  position: fixed;
    left: 59px;
    top: 35px;
    background: rgba(221, 221, 221, 0.64);
    box-shadow: -2px -6px 8px -4px rgba(119, 119, 119, 0.81), 
                6px -6px 8px -4px rgba(119, 119, 119, 0.81), 6px 6px 8px -3px rgba(119, 119, 119, 0.81), 
                0px 5px 5px -3px rgba(119, 119, 119, 0.81);
    /*box-shadow: 0px 0px 10px 3px rgba(119, 119, 119, 0.81);*/
    padding: 5px 15px;
    display: none;
    z-index: 10;
}
.block a {
  padding: 0 5px;
}
.block a img {
    width: 32px;
}
.col-md-header {
    background: rgba(251, 251, 251, 0.47);
    top: 10%;
    box-shadow: 0px 0px 10px 3px rgba(119, 119, 119, 0.81);
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
        top: 100px;
    right: 0;
    z-index: 10;
}
.icons {
  /*position: fixed;
    right: -16%;*/
    padding-left: 0px;
}
/*.icons_cat {
  position: fixed;
    right: -14%;
    
}*/
.show_sideblock.back_icon.btn_block3.active {
      display: inline  ;
}
.show_icon {
  display: none;
}
.icons_cat > .show_sideblock.show_icon {
  margin-left: 45px;
}
.col-md-content {
    background: rgba(221, 221, 221, 0.5);
    top: 10%;
    /*padding-top: 12px;*/
    box-shadow: 0px 0px 10px 3px rgba(119, 119, 119, 0.81);
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
    top: 100px;
    right: 0;
}
.col-md-content .content_block:nth-child(2) {
    margin-top: 12px;
}
.col-md-content .content_block:last-child {
    padding-bottom: 12px;
}
.right_sideblock {
    margin-left: 0px;
    margin-right: 0px;
}
.content_block .col-md-4 {
    background: white;
    height: 11em;
    padding-left: 0px;
    padding-right: 0px;
    width: 30.5%;
    box-shadow: 1px 1px 5px 1px #777;
    font-size: 11px;
        /*font-size:  90%;*/
}
 .content_block .col-md-4:nth-child(2) {
        margin: 0 12px;
}
 .content_block .col-md-4 img {
    height: 50%;
    margin-bottom: 10px;
    margin-top: 10%;
}
 .content_block {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 15px;

}
.col-md-content  .content_block:nth-child(3) {
    margin-top: 5px;
    margin-bottom: 5px;
    }
.zopim {
        z-index: 20 !important;
        bottom: 36px !important;
        right: 30px !important;
}
.meshim_widget_components_chatButton_ButtonBar .favicon {

    background: #e2e2e2 !important;
}
.button_text  .jx_ui_Widget {
    background: #e2e2e2 !important;
    color: black;
    font-weight: normal;
}


.col-md-8.col-md-content .row a img {
    width: 19.5%;
}
.scroll {
    position: relative;
    top: -426px;
    left: 890px;
    height: 410px;
}
.scroll_piptik {
    position: relative;
    top: -605px;
    left: 877px;
    height: 2.4em;
}
.col-md-8.col-md-content.pull-right .content_block {
    height: 58vh;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 12px;
}
.col-md-7.col-md-content.pull-right .content_block {
    height: 442px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 12px;
}
.col-md-6.col-md-content.pull-right .content_block {
    height: 442px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 12px;
}
::-webkit-scrollbar {
    width: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 10px;
    background: #00cbfe;
}
#block3_2 .content_block {
    margin-right: 12px;
    margin-left: 15px;
    background: white;
}
 #block3_2 .content_block a img {
    width: 31.5%;
    margin-left: -100px;
}
#block3_2 .content_block .col-md-3 {
    border-right: 1px solid silver;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
 #block3_2 .col-md-3 p:first-child {
    font-size: 11px;
    border-bottom: 1px solid silver;
    padding: 10px 0;
}
 #block3_2 .col-md-3 p:nth-child(2) {
    padding: 10px;
}
 #block3_4 .col-md-3.text-center {
    background: white;
    padding-left: 0px;
    padding-right: 0px;
    width: 23%;
    box-shadow: 1px 1px 5px 1px #777;
    font-size: 11px;
    margin-right: 10px;
    padding: 10px;
    height: 20em;
}
 #block3_4 .col-md-3 .btn_container img {
    width: 100%;
    margin-bottom: 20px !important;
}
 #block3_4 .col-md-3 p {
    margin-top: 10px;
    text-align: left;
    padding-left: 5px;
}
#block3_4 .col-md-3 ul li {
    text-align: left;
}
#block3_4 .col-md-3 ul {
    padding-left: 25px;
}
 #block3_3 .col-md-3.text-center {
    background: white;
    padding-left: 0px;
    padding-right: 0px;
    width: 23%;
    box-shadow: 1px 1px 5px 1px #777;
    font-size: 11px;
    margin-right: 10px;
    padding: 10px;
    height: 22em;
}
 #block3_3 .col-md-3 .btn_container img {
    width: 100%;
    margin-bottom: 10px !important;
}
 #block3_3 .col-md-3 p {
    text-align: left;
    padding-left: 5px;
    color: blue;
}
#block3_3 .col-md-3 ul li {
    text-align: left;
    font-size: 10px;
}
#block3_3 .col-md-3 ul {
    padding-left: 20px;
}
.pagination {
    top: 477px;
}
#block3_5 .col-md-content .content_block img {
    width: 100%;
}
#block3_5 .col-md-content {
    padding-top: 0px;
    padding-bottom: 0px;
}
 .nav.navbar-nav.navbar-right.mobile {
    display: none;
}
.dropdown-menu {
      min-width: 62px;
          background-color: #E2E2E2;
          border: 1px solid #ccc;
}


                  /* ----- Full HD version -----------*/
@media screen and (min-width: 1700px) {
  .col-md-header {
    top: 110px;
  }
  .col-md-content {
    top: 105px;
  }
    .content_block .col-md-4 {
        font-size:  90%;
        height: 15em;
        width: 31%;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 1vw;
    }
    .navbar-nav>li {
       height: 48px !important;
    }
    .navbar-form {
          margin-top: 10px;
    }
    .navbar-brand > img {

        height: 1.8em;
      }
    #footer {
          font-size: 1vw;
    }
    .form-control {
          padding: 16px 12px;
    }
    .col-md-1 {
      top: 45px;
    }
    .zopim {
        bottom: 48px !important;
    }
    .tab_icons {
          top: 50px;
    }
    .tab_icons a{
        width: 45px;
    height: 45px;
    }
    .tab_icons a img {
            height: 30px;
    }

}
            /* ----- More 1366 version -----------*/
@media screen and (min-width: 1367px) {
    /*.content_block .col-md-4 {
        font-size:  90%;
        height: 15em;
        width: 31%;
    }*/
    .navbar-default .navbar-nav>li>a {
        font-size: 1vw;
    }
    .navbar-nav>li {
        height: 40px;
    }
    .navbar-form {
          margin-top: 6px;
    }
    .navbar-nav>li>a {
      line-height: inherit;
    }
    #footer {
          font-size: 1vw;
    }

    .tab_icons a{
        width: 40px;
    height: 40px;
    }
    .tab_icons a img {
            height: 26px;
    }
}
          /* ----- Tablet version -----------*/
 @media screen and (min-width: 992px) and (max-width: 1200px) {
    .col-md-4 {
    width: 40%;
    }
     .row.header_block .col-xs-2 {
        margin-right: 30px;

    }
     .col-xs-4.col-sm-4.col-md-4 p {
        line-height: normal;
    }
    #block3_3 .col-md-3.text-center {
      width: 31%;
    }
    .col-md-1 {
        top: 65px;
    }
    .tab_icons {
      top: 67px;
    }
    .col-md-header {
      top: 120px;
    }
    .col-md-content {
      top: 115px;
    }
    .icons {
        padding-left: 0;
    }
 }
 @media screen and (min-width: 766px) and (max-width: 992px) {
    .navbar-form.navbar-right {
        position: fixed;
        left: 55%;
    }
     .nav.navbar-nav.navbar-right.big {
        position: fixed;
        left: 85%;
    }
     #menu.nav.navbar-nav.big {
        margin-top: 15px;
    }
     .navbar-brand {
        margin-right: 120px !important;
    }
     .col-md-header {
        top: 75px;
    }
    /* .col-md-header .col-xs-10 {
        width: 68%;
    }*/
     .col-md-header .col-xs-2 {
        width: 31%;
    }
    .col-md-1 {
        top: 70px;
    }
     .col-md-content {
        top: 125px;
    }
     .col-sm-5 {
        width: 50%;
    }
     .col-xs-4.col-sm-4.col-md-4 p {
        line-height: normal;
    }
    #block3_3 .col-md-3.text-center {
      width: 30.5%;
    }
    #block3_4 .col-md-3.text-center {
      width: 31%;
    }
    .col-md-8.col-md-content .row a img {
        width: 19%;
    }
     /*.row.header_block .col-xs-2 {
        margin-right: 115px;
    }
    */
     #footer .col-md-9 {
        width: 85%;
    }
     #footer .col-md-3 {
        width: 15%;
    }
     #footer .col-md-3 p {
        display: none;
    }
    .tab_icons {
        top: 73px;
    }
    .col-md-header {
      top: 120px;
    }
    .col-md-content {
        top: 115px;
    }
    .icons {
        right: -10%;
    }
}
            /* ----- Mobile version -----------*/

 
           
 @media screen and (max-width: 766px) {
    body {
    /*min-height: 607px;*/
    min-height: 570px;
    }
    
    .down_hide_icon {
      display: inline;
    }
     .navbar-nav.big>li {
        float: none;
        padding-left: 20px;
    }
     .nav.navbar-nav.navbar-right.big {
        display: none;
    }
     .nav.navbar-nav.navbar-right.mobile {
        display: block;
    }
     .navbar-brand > img {
        margin: 12px;
        margin-right: 0;
    }
    .navbar-nav .open .dropdown-menu {
          background-color: #E2E2E2;
          position: absolute;
    }
     .mobile>li {
        float: left;
        outline: none !important;
    }
     .row.header_block, #footer .row {
        margin-right: 0;
    }
     .navbar-form .form-control {
        background-position: 10px;
        padding-left: 25px;
    }
     .col-md-1 {
        position: relative;
        top: 8px;
    }
     .col-md-header {
        /*position: relative;
        top: 60px;*/
        position: absolute;
        /*top: 622px;*/
            top: 572px;
    }
     .col-md-content {
        /*position: relative;
        top: 60px;*/
        position: absolute;
        /*top: 674px;*/
            top: 570px;
    }
      .zopim {
        /*bottom: 0px !important;
        right: 90px !important;*/
        display: none !important;
    }
    
     .block {
        width: 157px;
        position: relative;
    }
     .block a:first-child {
        margin-left: -55px;
    }
     #footer {
        display: none;
        position: relative;
        bottom: -60px;
    }
     #footer .pull-left p, #footer .pull-left a {
        display: block;
        text-align: center;
    }
     #footer .pull-right a:first-child {
        margin-right: 28%;
    }
     .icons {
        position: relative;
        right: 0;
            padding-left: 0px;
        padding-right: 0px;
    }
     .icons a {
        float: right;
    }
     .icons a:first-child {
        display: none !important;
    }
    .icons_cat {
        position: relative;
        right: 0;
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-md-8 .icons_cat {
        padding-left: 0px;
    }
     .icons_cat a {
        float: right;
    }
     .icons_cat a:nth-child(2),.icons_cat .back_icon  {
        display: none !important;
    }
     .col-md-8.col-md-content .row a img {
        width: 18.5%;
    }
     #block3_3 .col-xs-6, #block3_4 .col-xs-6 {
        width: 46% !important;
    }
     .content_block .col-md-4 {
        height: 31vw;
    }
     /*.content_block .col-md-4 img {
        height: 31vw;
    }
     .content_block .col-md-4 p {
        height: 31vw;
    }
    */
    .nav>li>a:hover, .nav>li>a:focus {
      outline: none !important;
    }
    .dropdown-toggle:focus {
      outline: none !important;
    }
    .navbar-nav>li a:hover, .navbar-nav>li a:focus {
      outline: none !important;
    }
    .navbar-nav>li a {
        
        outline: none !important;
    }
    .dropdown-toggle:focus {
      outline: none !important;
    }
    .nav>li>a>img {
      outline: none !important;
    }
    .navbar-right > li:before {
    content: none;
    
    }
    .navbar-toggle {
      z-index: 1000;
    }
    #a1:hover  {
      background-image: url(http://logistic.carswar.com/template/default/img/left_icon_1_wb.png);
    }
    #a2:hover  {
      background-image: url(http://logistic.carswar.com/template/default/img/left_icon_2_wb.png);
    }
    #a3:hover  {
      background-image: url(http://logistic.carswar.com/template/default/img/left_icon_3_wb.png);
    }
    #a4:hover  {
      background-image: url(http://logistic.carswar.com/template/default/img/left_icon_4_wb.png);
    }
    #a5:hover  {
      background-image: url(http://logistic.carswar.com/template/default/img/left_icon_5_wb.png);
    }
    #a6:hover  {
      background-image: url(http://logistic.carswar.com/template/default/img/left_icon_6_wb.png);
    }
    #a7:hover  {
      background-image: url(http://logistic.carswar.com/template/default/img/left_icon_7_wb.png);
    }
    #a8:hover  {
      background-image: url(http://logistic.carswar.com/template/default/img/left_icon_8_wb.png);
    }
    #a9:hover  {
      background-image: url(http://logistic.carswar.com/template/default/img/left_icon_9_wb.png);
    }
    .tab_icons {
      display: none;
    }
 }
 @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {
    .col-md-header {
      top: 740px;
  }
  .col-md-content {
    top: 740px;
  }
  .col-md-1 {
        height: 679px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {
   
}
  @media screen and (max-width: 560px) {
    .header_block .col-md-8 p {
      line-height: 32px;
      font-size: 3.5vw;
    }
    #container .header_block .col-md-8 p {
      line-height: 32px;
      font-size: 3.2vw;
    }
  }
 @media screen and (max-width: 392px) {
    .navbar-brand > img {
    margin: 15px 5px;
    height: 18px;
    margin-right: 0;
    }
     .navbar-nav>li a {
            padding: 6px 5px !important;
        outline: none;
    }
     .col-xs-4.col-sm-4 p {
        line-height: normal;
    }
     .content_block .col-md-4 {
        height: 11em;
    }
        .navbar-right > li:before {
    content: none;
    
    }
    .header_block .col-md-8 p {
      line-height: 32px;
      font-size: 11px;
    }
 }

    

/*
body {
  padding: 100px;
   
}
img {
  width:56.8%;
  position: relative;
  top: -48px;
  left: -5px;
  z-index: -1;
  
}
.range {
  position: relative;
  width: 640px;
  height: 6px;
}

.range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;
}
  
 .range input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;  
    width: 14px;
  height: 14px;
  margin: -5px 0  0 0px;
  border-radius: 50%;
  background: #9141de;
  cursor: pointer;
  border: 0 !important;
    
  }

.range  input[type=range]::-moz-range-thumb {
   width: 18px;
  height: 18px;
  margin: -3px 0  0;
  border-radius: 50%;
  background: #9141de;
  cursor: pointer;
  border: 0 !important;
     box-shadow: 0px 0px 0px 7px #b2b2b2;
  }

 .range input[type=range]::-ms-thumb {
   width: 18px;
  height: 18px;
  margin: -3px 0  0;
  border-radius: 50%;
  background: #9141de;
  cursor: pointer;
  border: 0 !important;
    
  }

  
 .range input[type=range]::-webkit-slider-runnable-track {
     width: 100%;
  height: 3px;
  cursor: pointer;
  background: #a0a0a0;
    
    z-index: 0
  }

 .range input[type=range]::-moz-range-track {
     width: 100%;
  height: 8px;
  cursor: pointer;
  background: #a0a0a0;
    
  }

.range  input[type=range]::-ms-track {
     width: 100%;
  height: 8px;
  cursor: pointer;
  background: #a0a0a0;
   
  }

 .range input[type=range]:focus {  
    background: none;
    outline: none;
  }

.range  input[type=range]::-ms-track {  
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }


 
.range-labels {
  margin: 18px -41px 0;
  padding: 0;
  list-style: none;
}
 .range-labels li {
    position: relative;
    float: left;
    width: 160px;
    text-align: center;
    color: #a0a0a0;
    font-size: 14px;
    cursor: pointer;
  }
 .range-labels   li::before {
      position: absolute;
      top: -28px;
      right: 75px;
      left: 0;
      content: "";
      margin: 0 auto;
      width: 14px;
      height: 14px;
      background: #a0a0a0;
      border-radius: 50%;
      
    }
 
  
.range-labels  .active {
    color: #9141de;
  }
  
 .range-labels  .selected::before {
    background: #9141de;
  }
  
.range-labels   .active.selected::before {
    display: none;
  }*/